<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
            <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}Made with ♥ in Berlin{% endblock %}
        </footer>
    </body>
</html>
